# This is Git's per-user configuration file.
[user]
	email = Matthew.Johnson@softwareag.com
	name = Matthew Johnson
	signingkey = 0xB3983968
# Please adapt and uncomment the following lines:
#	name = Matthew Johnson
#	email = matj@softwareag.com
[credential]
	helper = gpgagent
[gpg]
	format = x509
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[safe]
	directory = /etc/bind
[branch]
   autoSetupMerge = always
